<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kim.aries.myBlog.dao.BlogTypeDao">
	<insert id="addBlogType" parameterType="BlogType"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		blog_type(blog_id,type_id)VALUES(#{blogId},#{typeId})
	</insert>
	<delete id="delBlogTypeByBlogId" parameterType="int">
		DELETE FROM blog_type WHERE blog_id=#{blogId}
	</delete>
</mapper>